<!-- Footer -->
<div class="contact-footer">
    <div class="contact-footer-title">
        {{widget('profile', 'footer-map', { 'profileType':'map' })|raw}}
    </div>
    <div class="footer-container">
            {{widget('content', 'title1', {
            content: '<h3>Lorem Ipsum</h3>'
            })|raw}}
            {{widget('content', 'text1', {
            content: '<p>Sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliea         commodo.</p>'
            })|raw}}
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="template-footer">

	<div class="container">
		  {{widget('profile', 'footer-profile', { 'profileType':'socialicons' })|raw}}
	</div>

</footer>
