<div class="hero">

    {{widget('feature', 'feature', {
        'header': 'profile',
        'strapline': '',
        'defaultBgImg': asset('images/feature-image.jpg'),
        'positionTopPercentage': '0',
        'showBtn': false,
        'buttonText': 'Lorem Ipsum'
    })|raw}}

    {% include "includes/header.twig" %}

    <!-- Feature Arrow -->
    <div class="hero-logo">

        <div class="homepage-nav">

            {{widget('extendednavigation', 'extendednavigation', {"align":"center"})|raw}}
            
        </div>

        <div class="arrow">

            <div class="arrow-container">

                <a href="#main-scroll" class="feature-arrow-link  arrow-bounce"></a>

            </div>

        </div>

    </div>

</div>
